<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

      <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
      <link rel="stylesheet" type="text/css" href="~/css/board.css">
      <script src="~/dist/board.js"></script>
   </head>
   <body>
      <img class="gear" src="res/gear.svg" alt="Settings">
      <main>
         <header>
            <h1>Board Name</h1>
         </header>
         <div class="board-head">
            <div class="item">Backlog</div>
            <div class="item">Ready</div>
            <div class="item">Work in Progress</div>
            <div class="item">Done</div>
         </div>
         <section class="boards">
            <placeholder></placeholder>
            <tasklist></tasklist>
            <tasklist></tasklist>
            <tasklist></tasklist>
            <tasklist></tasklist>
         </section>
      </main>
   </body>
</html>
