<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>User Settings - Kolan</title>

        <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" type="text/css" href="~/css/userSettings.css">
    </head>
    <body id="userSettings">
        <header>
            <a href="../">
                <span id="backButton"
                      class="icon icon-arrow-left"
                      role="button">
                      </span>
            </a>
            <h1>User Settings</h1>
            <hr />
        </header>
        <main>
            <h3>Change Password</h3>
            @model ChangePasswordViewModel
            <form asp-action="ChangePassword" method="post">
                <label class="error">@Html.ValidationMessageFor(m => m.CurrentPassword)</label>
                <input asp-for="CurrentPassword" class="input" placeholder="Current password..." />
                <label class="error">@Html.ValidationMessageFor(m => m.NewPassword)</label>
                <input asp-for="NewPassword" class="input" placeholder="New password..." />
                <label class="error">@Html.ValidationMessageFor(m => m.RepeatPassword)</label>
                <input asp-for="RepeatPassword" class="input" placeholder="Repeat password..." />
                <input type="submit" value="Change" />
            </form>

            <h3>Appearance</h3>
            <label>Theme: </label><select id="themeSelect"></select>
        </main>
        <script>
            const tempData = {
                message: '@TempData["message"]'
            }
        </script>
        <script src="~/dist/userSettings.js"></script>
    </body>
</html>
