@import "icons";

@function get-text-color($background-color) {
    @if (lightness($background-color) > 70) {
        @return #000000;
    } @else {
        @return #FFFFFF;
    }
}

html {
    font-size: 11px;
}

body {
    background-color: $background-color;    margin: 0;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

.iconLink {
    color: black;
}

button.icon {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    height: auto;
    margin: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.error {
    display: none;
    color: red;
    margin-bottom: 3px;
}

#themeTester {
    width: 0;
    height: 0;
}

@media screen and (min-width: 2400px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 3200px) {
    html {
        font-size: 13px;
    }
}

@media (prefers-color-scheme: dark) {
    #themeTester {
        background-color: #000000;
    }
}
@media (prefers-color-scheme: no-preference) {
    #themeTester {
        background-color: #000000;
    }
}