.icon-cog:before {
	content:""
}

.icon-error:before {
	content:""
}

.icon-hamburger:before {
	content:""
}

.icon-info:before {
	content:""
}

.icon-share:before {
	content:""
}

.icon-trash:before {
	content:""
}

.icon-warning:before {
	content:""
}

.icon-clock:before {
	content:""
}

.icon-arrow-left:before {
	content:""
}

.icon-pen:before {
	content:""
}

.icon-sign-out:before {
	content:""
}