$v: "0";
@font-face {
	font-family: "iconfont";
	src: url("../res/fonts/iconfont.eot?v=#{$v}");
	src: url("../res/fonts/iconfont.eot?v=#{$v}#iefix") format("eot"),
		url("../res/fonts/iconfont.woff?v=#{$v}") format("woff"),
		url("../res/fonts/iconfont.ttf?v=#{$v}") format("truetype"),
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
	line-height: 1;
}

@import "glyphs";