@import "common";

body {
    margin: 0;
}

main {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 600px;
    margin-top: 60px;
}

header {
    display: flex;
    position: relative;

    hr {
        width: 100%;
        position: absolute;
        bottom: 20px;
    }
}

header h1 {
    display: inline-block;
    font-size: 3.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 60px;
    margin-top: 0;
    user-select: none;
    float: left;
}

.gear {
    position: absolute;
    width: 58px;
    height: auto;
    top: 0;
    right: 0;
    margin: 10px;
}

#addBoard {
    $size: 60px;
    cursor: pointer;
    user-select: none;
    float: right;
    font-size: $size;
    margin-left: auto;
    color: black;
    text-align: center;
}

.board-list {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

draggable-item {
    color: $white;
    padding: 18px 28px 20px 75px;
    margin-bottom: 15px;
    border-radius: 9px;
    position: relative;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    background-color: $primary;
    transition: .3s ease background-color;
    @extend .shadow;

    .dragger {
        position: absolute;
        padding-left: 35px;
        padding-right: 20px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../res/hamburger.svg") no-repeat center;
        background-size: 30px auto;
        background-color: #585abc;
        cursor: pointer;
    }

    h2 {
        font-weight: 500;
        font-size: 1.8em;
    }
}

draggable-item:hover {
    background-color: #585abc;
}

.draggableContainer {
    display: block;
    position: relative;
}

placeholder {
    display: none;
    padding: 17px;
    border: 3px dashed black;
    border-radius: 9px;
    z-index: 9;
    margin: 10px;
}
