@import "common";

body {
    margin: 0;
    color: get-text-color($background-color);
}

.top {
    position: absolute;
    top: 10px;
    margin: 15px;
    border: 0;

    .iconLink {
        text-decoration: none;
    }

    $icon-size: 4em;
    .icon {
        padding: 0;
        font-size: $icon-size;
        color: get-text-color($background-color);
        cursor: pointer;
    }

    label {
        font-size: 1.8em;
        line-height: 2.3em; // Change this to something more dynamic
    }
}

.top.left {
    left: 10px;
    clear: both;

    .icon {
        float: left;
    }

    label {
        margin-left: 15px;
        float: right;
    }
}

.top.right {
    right: 10px;
    clear: both;

    .icon {
        float: right;
    }

    label {
        float: left;
        margin-right: 15px;
    }
}

main {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 600px;
    margin-top: 90px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;

    hr {
        width: 100%;
        position: absolute;
        bottom: 20px;
    }

    h1 {
        display: inline-block;
        font-size: 3.5em;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        line-height: 60px;
        margin-top: 0;
        user-select: none;
    }

    .plus {
        height: 60px;

        font-size: 4em;
        margin-left: auto;
        text-align: center;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        color: get-text-color($background-color);

        cursor: pointer;
        user-select: none;
    }
}

/*.icon.gear {
    transition: .3s ease transform;

    &:hover {
        transform: rotate(20deg);
    }
}*/

.board-list {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

draggable-item {
    padding: 18px 28px 20px 75px;
    margin-bottom: 15px;
    border-radius: 9px;
    position: relative;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    background-color: $board-background-color;
    color: get-text-color($board-background-color);
    transition: .3s ease background-color;
    box-shadow: $button-shadow;

    .dragger {
        position: absolute;
        padding-left: 35px;
        padding-right: 20px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../res/hamburger.svg") no-repeat center;
        background-size: 30px auto;
        background-color: $board-background-color;
        cursor: pointer;
    }

    h2 {
        font-weight: 500;
        font-size: 1.8em;
        word-wrap: break-word;
    }

    p {
        word-wrap: break-word;
        font-size: 1.4em;
    }
}

draggable-item:hover {
    background-color: ligthen($board-background-color, 20%);
}

.draggableContainer {
    display: block;
    position: relative;
}

placeholder {
    display: none;
    padding: 17px;
    border: $placeholder-border;
    border-radius: $placeholder-border-radius;
    z-index: 9;
    margin: 10px;
}

@media screen and (max-width: 800px) {
    main {
        width: calc(100% - 85px);
        margin-top: 110px;
    }

    .top.right label {
        display: none;
    }
}
