@import "reset";
@import "icons";

$white: #fafafa;
$dark: #343434;
$primary: #6163dd;
$secondary: #d8A147;
$gray: #dbdbdb;

body {
    background-color: $white;
    margin: 0;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

.shadow {
    box-shadow: 2px 2px 2px 1px $gray;
}

.iconLink {
    color: black;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.error {
    color: red;
}

@media (prefers-color-scheme: dark) {
    #themeTester {
        background-color: #000000;
    }
}
