@import "common";
@import "mixins";

@include ui-elements(1em);

body {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 150px auto;
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
}

h3 {
    font-size: 1.4em;
    font-weight: 500;
}

header {
    grid-area: 1 / 2;
    margin-top: 50px;

    a {
        text-decoration: none;

        &:active {
            outline: none;
        }
    }

    fa-icon {
        display: inline-block;
        margin-right: 10px;
        margin-top: 6px;
        vertical-align: middle;
        cursor: pointer;
        transition: .2s ease transform;
    }

    fa-icon:hover {
        transform: translateX(-8px);
    }

    h1 {
        display: inline-block;
        vertical-align: middle;
        padding-top: 2px;
    }

    hr {
        margin-top: 0;
    }
}

main {
    grid-area: 2 / 2;

    form {
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    input {
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        width: 100%;
    }

    input[type="submit"] {
        margin-left: auto;
    }
}
