@import "common";
@import "mixins";

@include ui-elements(1em);

body {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 150px auto;
    color: get-text-color($background-color);
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
}

h3 {
    font-size: 1.4em;
    font-weight: 500;
}

header {
    grid-area: 1 / 2;
    margin-top: 50px;

    .iconLink {
        text-decoration: none;
        color: get-text-color($background-color);

        &:active {
            outline: none;
        }
    }

    .icon {
        display: inline-block;

        margin-right: 10px;
        margin-top: 6px;
        vertical-align: middle;
        font-size: 2.5em;

        cursor: pointer;
        transition: .2s ease padding-right, .2s ease margin-left;
    }

    .icon:hover {
        //transform: translateX(-8px);
        padding-right: 8px;
        margin-left: -8px;
    }

    h1 {
        display: inline-block;
        vertical-align: middle;
        padding-top: 2px;
    }

    hr {
        margin-top: 0;
    }
}

main {
    grid-area: 2 / 2;

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        width: 100%;
    }

    input[type="submit"] {
        margin-left: auto;
    }

    drop-down {
        margin-left: 10px;
    }
}

@media screen and (min-width: 500px) {
    form {
        width: 400px;
    }

    drop-down {
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    body {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }

    form {
        width: 100%;
    }

    drop-down {
        width: 100%;
    }
}
