@{  
   ViewData["title"] = "Boards"; 
   ViewData["name"] = "boards"; 
   ViewData["style"] = "boards"; 
   Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="top left">
    <button id="logoutButton" class="icon icon-sign-out logout" alt="logout" tabindex="1"></button>
    <label>Logout</label>
</div>
<div class="top right">
    <label>@ViewData["username"] - Settings</label>
    <a href="/UserSettings" class="iconLink" tabindex="3"><span class="icon icon-cog gear" alt="settings" role="button"></span></a>
</div>
<main>
    <header>
        <h1>Boards</h1>
        <button id="addBoard" class="plus" tabindex="2">+</button>
        <hr />
    </header>
    <section class="board-list">
        <placeholder></placeholder>
        <div class="draggableContainer">
        </div>
    </section>
</main>
<script>
    const viewData = {
        username: '@ViewData["username"]'
    };
</script>
<script src="~/dist/boards.js"></script>