<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      <meta name="description" content="Kolan login. A recursive and real-time collaborative Kanban">

      <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
      <link rel="stylesheet" type="text/css" href="~/css/boards.css">
      <script src="~/dist/boards.js"></script>
   </head>
   <body>
      <img class="gear" src="res/gear.svg" alt="Settings">
      <main>
         <header>
            <h1>Boards</h1>
            <span id="addBoard"><span>+</span></span>
            <hr />
         </header>
         <section class="board-list">
            <placeholder></placeholder>
            <tasklist>
            </tasklist>
         </section>
      </main>
   </body>
</html>
