<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      <meta name="description" content="Kolan login. A recursive and real-time collaborative Kanban">
      <title>Boards - Kolan</title>

      <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
      <link rel="stylesheet" type="text/css" href="~/css/boards.css">
   </head>
   <body id="boards">
       <a href="/UserSettings" class="iconLink"><span class="icon icon-cog gear" alt="settings" role="button"></span></a>
       <main>
           <header>
               <h1>Boards</h1>
               <span id="addBoard" class="plus">+</span>
               <hr />
           </header>
           <section class="board-list">
               <placeholder></placeholder>
               <div class="draggableContainer">
               </div>
           </section>
       </main>
    <script>
        const viewData = {
            username: '@ViewData["username"]'
        };
    </script>
    <script src="~/dist/boards.js"></script>
   </body>
</html>
