$background-color: #212121;
$background-secondary: #424242;
$button-primary: #0062ff;
$button-secondary: #E0E0E0;
$button-hover-darkening: 8%;
$button-red: #D32F2F;

$board-background-color: #1565CE;
$board-hover-filter: brightness(108%);
$placeholder-border: 3px dashed white;
$placeholder-border-radius: 9px;

$board-page-header-color: $background-color;
$tasklist-border: 2px solid $background-secondary;
$gray: #9E9E9E;

$input-background-color: $background-secondary;
$input-border-color: $background-secondary;
$input-bottom-border: 0;
$disabled-color: #9E9E9E;
$link-color: #42A5F5;

$button-shadow: 1px 1px 2px 1px #302F2F;