$background-color: #EEEEEE;
$background-secondary: #343434;
$button-primary: #0062ff;
$button-secondary: #E0E0E0;
$button-hover-darkening: 5%;
$button-red: #D32F2F;
$board-background-color: #6163DD;
$board-page-header-color: $background-color;
$board-hover-filter: brightness(92%);
$gray: #DBDBDB;
$tasklist-border: 2px solid #D3D3D3;

$input-background-color: #E0E0E0;
$input-border-color: #E0E0E0;
$input-bottom-border: 1px solid #BDBDBD;
$disabled-color: #9E9E9E;
$link-color: #0288D1;

$button-shadow: 1px 1px 2px 1px $gray;