$primary-color: #212121;
$lighter-color: #424242;

:host, .dialog, body, #list, #list li {
    background-color: $primary-color;
    color: white;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea {
    background-color: $lighter-color;
    border-color: $lighter-color;
    color: white;
}

::placeholder {
    color:#BDBDBD;
}

#board header {
    background-color: $primary-color;
    box-shadow: none;
    border-bottom: 2px solid $lighter-color;
}

a, header #title a:visited {
    color: #42A5F5;
}

header, .list-head .item, tasklist, #list {
    border-color: $lighter-color;
}

#list li {
    border-color: $lighter-color;
}

.icon, .iconLink, .plus {
    color: white;
}

draggable-item {
    background-color: #1565CE;
}

.board-list .dragger {
    background-color: #1565CE;
}

.board-list draggable-item:hover {
    background-color: #2962FF;
}

.tasklists draggable-item:hover {
    filter: brightness(108%);
}

input[type="submit"], button, #boards draggable-item {
    box-shadow: 1px 1px 2px 1px #302F2F;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.toast.info {
    background-color: #424242;
}

.toast.warning {
    background-color: #FF8F00;
}

@media screen and(max-width: 1000px) {
    #list-head > .item.selected {
        background-color: #616161;
    }
}
