@import "../common";

:host > div {
    width: 100%;
    height: 100%;
    padding: 15px;
    transform: translateY(-80px);
    border-radius: 8px;
    color: white;
    transition: .2s ease all;
}

div.slide-down {
    transform: translateY(10px);
}

fa-icon {
    margin-left: 5px;
    margin-right: 10px;
    float: left;
}

span {
    display: inline-block;
}

.info {
    background-color: #424242;
}

.warning {
    background-color: #F9A825;
}

.error {
    background-color: #E53935;
}