@import "../common";

:host > div {
    color: white;
}

div.slide-down {
    transform: translateY(10px);
}

.icon {
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 10px;
    float: left;
}

span {
    display: inline-block;
}

.info {
    background-color: #424242;
}

.warning {
    background-color: #F9A825;
}

.error {
    background-color: #E53935;
}