@{  
   ViewData["title"] = "Login"; 
   ViewData["style"] = "login"; 
   Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@section meta {
   <meta name="description" content="Kolan login. A recursive and real-time collaborative Kanban">
}

<img class="logo" src="/res/logo.png" />
<main>
   <header>
      <h1>Kolan</h1>
   </header>
   <section>
      @model LoginViewModel
      <form asp-action="Login" method="post">
         <label class="error">@Html.ValidationMessageFor(m => m.Username)</label>
         <input asp-for="Username" class="input" placeholder="Username..." /><br />
         <label class="error">@Html.ValidationMessageFor(m => m.Password)</label>
         <input asp-for="Password" class="input" placeholder="Password..." /><br />

         <input type="submit" value="Login" />
         @if (Config.Values.AllowRegistrations) { <a class="registerLink" href="/Register">Create account</a> }
      </form>
   </section>
</main>
<script src="~/dist/login.js"></script>