<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

      <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
      <link rel="stylesheet" type="text/css" href="~/css/board.css">
      <script src="~/dist/board.js"></script>
   </head>
   <body>
      <img class="gear" src="res/gear.svg" alt="Settings">
      <main>
         <header>
            <h1>Board Name</h1>
         </header>
         <div class="list-head">
            <div class="item">
               Backlog
               <span id="addBoard" class="plus"><span>+</span></span>
            </div>
            <div class="item">
               Ready
               <span id="addBoard" class="plus"><span>+</span></span>
            </div>
            <div class="item">
               Work in Progress
               <span id="addBoard" class="plus"><span>+</span></span>
            </div>
            <div class="item">
               Done
               <span id="addBoard" class="plus"><span>+</span></span>
            </div>
         </div>
         <section class="tasklists">
            <placeholder></placeholder>
            <tasklist></tasklist>
            <tasklist></tasklist>
            <tasklist></tasklist>
            <tasklist></tasklist>
         </section>
      </main>
   </body>
</html>
