@{  
   ViewData["title"] = ""; 
   ViewData["name"] = "board";
   ViewData["style"] = "board";
   Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<main>
    <header>
        <div id="title"></div>
        <div class="right">
            <button id="shareButton" class="icon icon-share share"></button>
            <button id="settingsButton" class="icon icon-cog gear"></button>
        </div>
    </header>
    <div class="content">
        <div id="list-head" class="list-head"></div>
        <section id="tasklists" class="tasklists">
            <placeholder></placeholder>
        </section>
    </div>
</main>
<div id="uiBlocker"></div>

<script>
    const viewData = {
        id: '@ViewData["id"]',
        username: '@ViewData["username"]',
        taskColorSeed: '@Config.Values.TaskColorSeed'
    };
</script>
<script src="~/dist/board.js"></script>