<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

      <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
      <link rel="stylesheet" type="text/css" href="~/css/board.css">
   </head>
   <body>
      <main>
         <header>
            <div id="title"></div>
            <div class="right">
                <fa-icon id="shareButton" class="fas fa-share-alt share" size="42px" role="button" path-prefix="/node_modules"></fa-icon>
                <fa-icon class="fas fa-cog gear" size="42px" path-prefix="/node_modules"></fa-icon>
            </div>
         </header>
         <div class="content">
             <div id="list-head" class="list-head"></div>
             <section id="tasklists" class="tasklists">
                 <placeholder></placeholder>
             </section>
         </div>
      </main>
      <div id="uiBlocker"></div>

      <script>
          const viewData = {
              id: '@ViewData["id"]'
          };
      </script>
      <script src="~/dist/board.js"></script>
   </body>
</html>
