<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>Kolan</title>
      <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
      <link rel="stylesheet" type="text/css" href="~/css/common.css">
      <link rel="stylesheet" type="text/css" href="~/css/login.css">
      <script src="~/dist/components.js"></script>
   </head>
   <body>
      <main>
         <header>
            <h1>Kolan</h1>
         </header>
         <section>
            <form>
               <input type="text" name="username" class="input" placeholder="Username..." /><br />
               <input type="password" name="password" class="input" placeholder="Password..." /><br />
               <input type="submit" value="Login" />
            </form>
         </section>
      </main>
   </body>
</html>
